body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  background-image: url("images/corn-field.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}
.skyBack {
  background-image: url("images/sky.jpeg");
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #b300ff;
  font-weight: bolder;
}

select:hover {
  color: #b300ff;
}

.highlight {
  background-color: #ffffff;
}

.port {
  color: white;
  text-shadow: black;
}

.gui {
  display: flex;
  justify-content: space-between;
}

.toggles {
  flex: .2;
  margin: 1vw;
  height: 400px;
  background-color: #b300ff;
  overflow: auto;
}

.simulation {
  flex: 1;
  margin: 1vw;
  height: 400px;
  flex-direction: column;
  overflow: hidden;
}

.corn-field {
  height: 340px;
  background-color: #c2d94c;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.soil {
  height: 60px;
  background-color: brown;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.fileCreation {
  flex: .4;
  margin: 1vw;
  height: 400px;
  background-color: #ff9100;
  overflow: auto;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.coolbutton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  color: #b300ff;
}

.blueOutline {
  color: orange;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,  
    -1px 1px 0 black, 
    1px 1px 0 black;  
}

.white {
  color: white;
}

.white:hover {
  color: orange;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,  
    -1px 1px 0 black, 
    1px 1px 0 black;  
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid white;
  height: 50%;
  width: auto;
}

.modal-content img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.corn-plant1 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 5%;
}
.corn-plant2 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.corn-plant3 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 15%;
}
.corn-plant4 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 20%;
}
.corn-plant5 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 25%;
}
.corn-plant6 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 30%;
}
.corn-plant7 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 35%;
}
.corn-plant8 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 40%;
}
.corn-plant9 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 45%;
}
.corn-plant10 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.corn-plant11 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 55%;
}
.corn-plant12 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 60%;
}
.corn-plant13 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 65%;
}
.corn-plant14 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 70%;
}
.corn-plant15 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 75%;
}
.corn-plant16 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 80%;
}
.corn-plant17 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 85%;
}
.corn-plant18 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 90%;
}
.corn-plant19 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 95%;
}
.corn-plant20 {
  width: 10px;
  height: 0px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0%;
}